In [1]:
import pandas as pd
df1 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_13.csv")

df2 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_14.csv")
df3 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_15.csv")
df4 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_16.csv")
df5 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_17.csv")
df6 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_18.csv")
df7 = pd.read_csv("E:\\data\\201301\\unique_pcard\\01_19.csv")
df = pd.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)
print(df)

                    PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
0       E00E0000500000GB5609  20130113091321         1               105
1       E00E0000500000GB5609  20130113212157         2               120
2       E00E0000500000GB5609  20130113214519         2               105
3       E00E000E000005G95FFC  20130113054935        13               115
4       E00E000E000005G95FFC  20130113052856        13               120
...                      ...             ...       ...               ...
175907      E909F909G5E6FB06  20130119191705        12               200
175908      E909F909G5E6FB06  20130119200511        12               115
175909      E909F909FGBB0006  20130119222710        19               200
175910      E909F909FGBB0006  20130119114944        18               200
175911      GC09F90F0F905305  20130119180907        27               115

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
0               0    11110637.0            111504071  111707302.0
1               0    41110072.0            111008051  111747102.0
2               1    11110637.0            111504071  111757205.0
3               1    11110041.0            111007500  111705913.0
4               0    11110267.0            111007500  111747043.0
...           ...           ...                  ...          ...
175907          0           NaN            211100000          NaN
175908          1    11110049.0            111004301  111751483.0
175909          0           NaN            211200000          NaN
175910          0           NaN            211100000          NaN
175911          0    11110998.0            111002000  111744049.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  ALIGHT_AMT  RUN_DEPART_DTIME  \
0                         1      9013083  ...         0.0      2.013011e+13
1                         1         8809  ...         0.0      2.013011e+13
2                         1      9012213  ...         0.0      2.013011e+13
3                         1      8001908  ...         0.0      2.013011e+13
4                         1      8501164  ...         0.0      2.013011e+13
...                     ...          ...  ...         ...               ...
175907                    1         1906  ...       200.0               NaN
175908                    1        71190  ...       300.0      2.013012e+13
175909                    1         2640  ...       200.0               NaN
175910                    1         1813  ...       200.0               NaN
175911                    1        74596  ...         0.0      2.013012e+13

        FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
0                         1                  NaN                  NaN
1                         1                  NaN                  NaN
2                         1                  NaN                  NaN
3                         1                  NaN                  NaN
4                         1                  NaN                  NaN
...                     ...                  ...                  ...
175907                    1                  NaN                  NaN
175908                    1                  NaN                  NaN
175909                    1                  NaN                  NaN
175910                    1                  NaN                  NaN
175911                    1                  NaN                  NaN

        PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME
0                1           0           0    1681.0     449.0
1                1           0           0    4647.0     847.0
2                1           0           0    1681.0     566.0
3                1           0           0    3944.0     728.0
4                1           0           0    4395.0     596.0
...            ...         ...         ...       ...       ...
175907           1           0           0   19500.0    2498.0
175908           1           0           0   11479.0    2008.0
175909           1           0           0   19400.0    3259.0
175910           1           0           0   19400.0    3274.0
175911           1           0           0    6680.0    1603.0

[175912 rows x 24 columns]

In [5]:
def specific(df):
    specific_pcard='FG09FF5363B0F05E'

    # Filter the DataFrame for rows where 'PCARD_NO' matches the specific payment card number
    filtered_rows = df[df['PCARD_NO'] == specific_pcard]

    return filtered_rows

In [6]:
df_11_1=specific(df)

In [8]:
print(df_11_1)

                PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
23238   FG09FF5363B0F05E  20130113054611        80               105
23239   FG09FF5363B0F05E  20130113060236        80               105
48575   FG09FF5363B0F05E  20130114062931        81               105
48576   FG09FF5363B0F05E  20130114061141        81               105
74116   FG09FF5363B0F05E  20130115054313        82               105
74117   FG09FF5363B0F05E  20130115060236        82               105
99668   FG09FF5363B0F05E  20130116062940        83               105
99669   FG09FF5363B0F05E  20130116060943        83               105
124816  FG09FF5363B0F05E  20130117060254        84               105
124817  FG09FF5363B0F05E  20130117054324        84               105
150434  FG09FF5363B0F05E  20130118060908        85               105
150435  FG09FF5363B0F05E  20130118062954        85               105
175482  FG09FF5363B0F05E  20130119054328        86               105
175483  FG09FF5363B0F05E  20130119060351        86               105

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
23238           0    11110514.0            111501570  111753653.0
23239           1    11110586.0            111519470  111753369.0
48575           1    11110514.0            111501570  111753618.0
48576           0    11110586.0            111519470  111753471.0
74116           0    11110648.0            111501570  111753620.0
74117           1    11110586.0            111519470  111706631.0
99668           1    11110514.0            111501570  111753653.0
99669           0    11110587.0            111519470  111753470.0
124816          1    11110586.0            111519470  111753166.0
124817          0    11110648.0            111501570  111753620.0
150434          0    11110587.0            111519470  111753472.0
150435          1    11110514.0            111501570  111753653.0
175482          0    11110648.0            111501570  111753620.0
175483          1    11110586.0            111519470  111753168.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ...  ALIGHT_AMT  RUN_DEPART_DTIME  \
23238                     1      9009151  ...         0.0      2.013011e+13
23239                     1      9011993  ...         0.0      2.013011e+13
48575                     1      9009056  ...         0.0      2.013011e+13
48576                     1      9009540  ...         0.0      2.013011e+13
74116                     1      9009151  ...         0.0      2.013012e+13
74117                     1      9011993  ...         0.0      2.013012e+13
99668                     1      9009056  ...         0.0      2.013012e+13
99669                     1      9009540  ...         0.0      2.013012e+13
124816                    1      9011993  ...         0.0      2.013012e+13
124817                    1      9009151  ...         0.0      2.013012e+13
150434                    1      9009540  ...         0.0      2.013012e+13
150435                    1      9009056  ...         0.0      2.013012e+13
175482                    1      9009151  ...         0.0      2.013012e+13
175483                    1      9011993  ...         0.0      2.013012e+13

        FARE_USER_CLASS_CD1  FARE_USER_CLASS_CD2  FARE_USER_CLASS_CD3  \
23238                     1                  NaN                  NaN
23239                     1                  NaN                  NaN
48575                     1                  NaN                  NaN
48576                     1                  NaN                  NaN
74116                     1                  NaN                  NaN
74117                     1                  NaN                  NaN
99668                     1                  NaN                  NaN
99669                     1                  NaN                  NaN
124816                    1                  NaN                  NaN
124817                    1                  NaN                  NaN
150434                    1                  NaN                  NaN
150435                    1                  NaN                  NaN
175482                    1                  NaN                  NaN
175483                    1                  NaN                  NaN

        PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME
23238            1           0           0    1058.0     255.0
23239            1           0           0    1527.0     366.0
48575            1           0           0    1047.0     227.0
48576            1           0           0    1702.0     317.0
74116            1           0           0    1058.0     208.0
74117            1           0           0    1527.0     407.0
99668            1           0           0    1047.0     209.0
99669            1           0           0    1703.0     435.0
124816           1           0           0    1527.0     370.0
124817           1           0           0    1058.0     215.0
150434           1           0           0    1703.0     467.0
150435           1           0           0    1047.0     244.0
175482           1           0           0    1058.0     280.0
175483           1           0           0    1527.0     440.0

[14 rows x 24 columns]

In [6]:
def data_date_time(df):
    df['ALIGHT_DTIME'] = df['ALIGHT_DTIME'].astype(str)
    
    if 'ALIGHT_DTIME' in df.columns:
        df['ALIGHT_DATE'] = pd.to_datetime(df['ALIGHT_DTIME'].str[:8], format='%Y%m%d')
        df['ALIGHT_TIME'] = pd.to_datetime(df['ALIGHT_DTIME'].str[8:14], format='%H%M%S', errors='coerce').dt.time
    else:
        # Handle case where 'ALIGHT_DTIME' may not exist
        df['ALIGHT_DATE'] = pd.NaT
        df['ALIGHT_TIME'] = None
    return df

In [7]:
def data_time(df):    
    df['RIDE_DTIME'] = df['RIDE_DTIME'].astype(str)

    # Process 'RIDE_DTIME' to extract date and time
    if 'RIDE_DTIME' in df.columns:
        df['RIDE_DATE'] = pd.to_datetime(df['RIDE_DTIME'].str[:8], format='%Y%m%d')
        df['RIDE_TIME'] = pd.to_datetime(df['RIDE_DTIME'].str[8:14], format='%H%M%S', errors='coerce').dt.time
    else:
        # Handle case where 'ALIGHT_DTIME' may not exist
        df['RIDE_DATE'] = pd.NaT
        df['RIDE_TIME'] = None
    return df

In [8]:
df=data_time(df)
df=data_date_time(df)

In [9]:
print(df)

             PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  TRAF_FREQ  \
0    000E0E0E96E3BFC3  20131215151434       175               200          0
1    000E0E0E96E3BFC3  20131215155940       176               200          0
2    000E0E0E96E3BFC3  20131215182458       177               200          0
3    000E0E0E96E3BFC3  20131215194613        21               105          0
4    000E0E0E96E3BFC3  20131216073731       178               200          0
..                ...             ...       ...               ...        ...
197  000E0E0E96E3BFC3  20131221134740       154               200          0
198  000E0E0E96E3BFC3  20131221111346       149               200          0
199  000E0E0E96E3BFC3  20131221154538       159               200          0
200  000E0E0E96E3BFC3  20131221160704       160               200          0
201  000E0E0E96E3BFC3  20131221192717       165               200          0

     BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID PCARD_USER_CLASS_CD  \
0             NaN            211000000          NaN                   6
1             NaN            211000000          NaN                   6
2             NaN            211200000          NaN                   6
3      11110084.0            111520030  111755108.0                   6
4             NaN            211000000          NaN                   6
..            ...                  ...          ...                 ...
197           NaN            211000000          NaN                  06
198           NaN            211000000          NaN                  06
199           NaN            211000000          NaN                  06
200           NaN            211000000          NaN                  06
201           NaN            211000000          NaN                  06

     RIDE_STA_ID  ... FARE_USER_CLASS_CD3  PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  \
0            311  ...                 NaN           1           0           0
1            153  ...                 NaN           1           0           0
2           2535  ...                 NaN           1           0           0
3        9012125  ...                 NaN           1           0           0
4            311  ...                 NaN           1           0           0
..           ...  ...                 ...         ...         ...         ...
197          223  ...                 NaN           1           0           0
198          223  ...                 NaN           1           0           0
199          220  ...                 NaN           1           0           0
200          223  ...                 NaN           1           0           0
201          237  ...                 NaN           1           0           0

     USE_DIST  USE_TIME  RIDE_DATE  RIDE_TIME  ALIGHT_DATE  ALIGHT_TIME
0      9700.0    1518.0 2013-12-15   15:14:34   2013-12-15     15:39:52
1       900.0     197.0 2013-12-15   15:59:40   2013-12-15     16:02:57
2      9700.0    2435.0 2013-12-15   18:24:58   2013-12-15     19:05:33
3      1058.0     524.0 2013-12-15   19:46:13   2013-12-15     19:54:57
4     22400.0    2793.0 2013-12-16   07:37:31   2013-12-16     08:24:04
..        ...       ...        ...        ...          ...          ...
197     900.0     267.0 2013-12-21   13:47:40   2013-12-21     13:52:07
198     900.0     306.0 2013-12-21   11:13:46   2013-12-21     11:18:52
199    3200.0     756.0 2013-12-21   15:45:38   2013-12-21     15:58:14
200    4000.0    1055.0 2013-12-21   16:07:04   2013-12-21     16:24:39
201   10700.0    2323.0 2013-12-21   19:27:17   2013-12-21     20:06:00

[202 rows x 28 columns]

In [10]:
def categorize_time(time):
    if time >= pd.to_datetime('06:00:00').time() and time <= pd.to_datetime('10:00:00').time():
        return 'Morning Peak (MP)'
    elif time >= pd.to_datetime('16:00:00').time() and time <= pd.to_datetime('20:00:00').time():
        return 'Afternoon Peak (AP)'
    else:
        return 'Non-Peak (NP)'

In [11]:
df['TIME_CATEGORY'] = df['RIDE_TIME'].apply(categorize_time)
print(df)

             PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  TRAF_FREQ  \
0    000E0E0E96E3BFC3  20131215151434       175               200          0
1    000E0E0E96E3BFC3  20131215155940       176               200          0
2    000E0E0E96E3BFC3  20131215182458       177               200          0
3    000E0E0E96E3BFC3  20131215194613        21               105          0
4    000E0E0E96E3BFC3  20131216073731       178               200          0
..                ...             ...       ...               ...        ...
197  000E0E0E96E3BFC3  20131221134740       154               200          0
198  000E0E0E96E3BFC3  20131221111346       149               200          0
199  000E0E0E96E3BFC3  20131221154538       159               200          0
200  000E0E0E96E3BFC3  20131221160704       160               200          0
201  000E0E0E96E3BFC3  20131221192717       165               200          0

     BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID PCARD_USER_CLASS_CD  \
0             NaN            211000000          NaN                   6
1             NaN            211000000          NaN                   6
2             NaN            211200000          NaN                   6
3      11110084.0            111520030  111755108.0                   6
4             NaN            211000000          NaN                   6
..            ...                  ...          ...                 ...
197           NaN            211000000          NaN                  06
198           NaN            211000000          NaN                  06
199           NaN            211000000          NaN                  06
200           NaN            211000000          NaN                  06
201           NaN            211000000          NaN                  06

     RIDE_STA_ID  ... PASGR_NUM1  PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME  \
0            311  ...          1           0           0    9700.0    1518.0
1            153  ...          1           0           0     900.0     197.0
2           2535  ...          1           0           0    9700.0    2435.0
3        9012125  ...          1           0           0    1058.0     524.0
4            311  ...          1           0           0   22400.0    2793.0
..           ...  ...        ...         ...         ...       ...       ...
197          223  ...          1           0           0     900.0     267.0
198          223  ...          1           0           0     900.0     306.0
199          220  ...          1           0           0    3200.0     756.0
200          223  ...          1           0           0    4000.0    1055.0
201          237  ...          1           0           0   10700.0    2323.0

     RIDE_DATE  RIDE_TIME  ALIGHT_DATE  ALIGHT_TIME        TIME_CATEGORY
0   2013-12-15   15:14:34   2013-12-15     15:39:52        Non-Peak (NP)
1   2013-12-15   15:59:40   2013-12-15     16:02:57        Non-Peak (NP)
2   2013-12-15   18:24:58   2013-12-15     19:05:33  Afternoon Peak (AP)
3   2013-12-15   19:46:13   2013-12-15     19:54:57  Afternoon Peak (AP)
4   2013-12-16   07:37:31   2013-12-16     08:24:04    Morning Peak (MP)
..         ...        ...          ...          ...                  ...
197 2013-12-21   13:47:40   2013-12-21     13:52:07        Non-Peak (NP)
198 2013-12-21   11:13:46   2013-12-21     11:18:52        Non-Peak (NP)
199 2013-12-21   15:45:38   2013-12-21     15:58:14        Non-Peak (NP)
200 2013-12-21   16:07:04   2013-12-21     16:24:39  Afternoon Peak (AP)
201 2013-12-21   19:27:17   2013-12-21     20:06:00  Afternoon Peak (AP)

[202 rows x 29 columns]

In [12]:
df.to_csv("D:\\0-transportation project\\000E0E0E96E3BFC3.csv",index=False)

In [13]:
# Function to determine most frequent station for given conditions
def identify_stations(df, user_id_col, station_id_col, time_cat):
    filtered = df[df['TIME_CATEGORY'] == time_cat]
    return filtered.groupby([user_id_col, station_id_col]).size().reset_index(name='counts').sort_values(by=['counts'], ascending=False).drop_duplicates(subset=[user_id_col])

In [14]:
# Identifying homes and workplaces
def find_places(df):
    # Most-departed station during morning peak hours for home
    homes_morning = identify_stations(df, 'PCARD_NO', 'RIDE_STA_ID', 'Morning Peak (MP)')
    # Most-visited station during afternoon peak hours for home
    homes_afternoon = identify_stations(df, 'PCARD_NO', 'ALIGHT_STA_ID', 'Afternoon Peak (AP)')

    # Most-visited station during morning peak hours for workplace
    work_morning = identify_stations(df, 'PCARD_NO', 'ALIGHT_STA_ID', 'Morning Peak (MP)')
    # Most-departed station during afternoon peak hours for workplace
    work_afternoon = identify_stations(df, 'PCARD_NO', 'RIDE_STA_ID', 'Afternoon Peak (AP)')

    # Most-visited stations during non-peak hours for other activities
    other_activities = identify_stations(df, 'PCARD_NO', 'ALIGHT_STA_ID', 'Non-Peak (NP)')

    # Merging to create a comprehensive dataframe
    homes = pd.merge(homes_morning, homes_afternoon, on='PCARD_NO', suffixes=('_morning', '_afternoon'))
    workplaces = pd.merge(work_morning, work_afternoon, on='PCARD_NO', suffixes=('_morning', '_afternoon'))

    return homes, workplaces, other_activities

In [15]:
homes, workplaces, other_activities = find_places(df)

In [16]:
print("Sample Homes Data:")
homes.head()

Sample Homes Data:

,PCARD_NO,RIDE_STA_ID,counts_morning,ALIGHT_STA_ID,counts_afternoon
0,000E0E0E96E3BFC3,311,6,433.0,9

In [17]:
print("Sample Workplaces Data:")
workplaces.head()

Sample Workplaces Data:

,PCARD_NO,ALIGHT_STA_ID,counts_morning,RIDE_STA_ID,counts_afternoon
0,000E0E0E96E3BFC3,331.0,6,331,7

In [18]:
print("Sample Other Activities Data:")
other_activities.head()

Sample Other Activities Data:

            PCARD_NO  ALIGHT_STA_ID  counts
14  000E0E0E96E3BFC3          331.0      15

In [26]:
def tripid(df):
    # Ensure RIDE_TIME and ALIGHT_TIME are combined with RIDE_DATE and ALIGHT_DATE if needed
    df['RIDE_DATETIME'] = pd.to_datetime(df['RIDE_DTIME'])
    df['ALIGHT_DATETIME'] =pd.to_datetime(df['ALIGHT_DTIME'])

    # Sort by PCARD_NO and RIDE_DATETIME
    df = df.sort_values(['PCARD_NO', 'RIDE_DATETIME'])

    # Shift ALIGHT_DATETIME to line up with the next RIDE_DATETIME
    df['NEXT_RIDE_TIME'] = df.groupby('PCARD_NO')['RIDE_DATETIME'].shift(-1)

    # Calculate time difference in minutes between ALIGHT_DATETIME and the next RIDE_DATETIME
    df['TIME_DIFF'] = (df['NEXT_RIDE_TIME'] - df['ALIGHT_DATETIME']).dt.total_seconds() / 60

    # Identify trip boundaries where the time difference is more than 30 minutes
    df['NEW_TRIP'] = (df['TIME_DIFF'] > 30).astype(int)

    # Cumulatively sum the NEW_TRIP flags to create unique trip IDs for each PCARD_NO
    df['TRIP_ID'] = df.groupby('PCARD_NO')['NEW_TRIP'].cumsum()

    # Now, df contains an additional column 'TRIP_ID' that indicates the unique trip number for each transaction
    return df[['PCARD_NO', 'RIDE_DATETIME', 'ALIGHT_DATETIME', 'NEXT_RIDE_TIME', 'TIME_DIFF', 'NEW_TRIP', 'TRIP_ID']]

In [ ]:
# Convert time strings to timedelta
df['RIDE_TIMEDELTA'] = pd.to_timedelta(df['RIDE_TIME'])
df['ALIGHT_TIMEDELTA'] = pd.to_timedelta(df['ALIGHT_TIME'])
df['RIDE_DTIME'] = pd.to_datetime(df['RIDE_DTIME'])
# Add the timedelta to the datetime date fields to get full datetime fields
df['RIDE_DATETIME'] = df['RIDE_DATE'] + df['RIDE_TIMEDELTA']
df['ALIGHT_DATETIME'] = df['ALIGHT_DATE'] + df['ALIGHT_TIMEDELTA']

# You can now drop the extra timedelta columns if they are no longer needed
df.drop(['RIDE_TIMEDELTA', 'ALIGHT_TIMEDELTA'], axis=1, inplace=True)

# Continue with your operations such as sorting and calculating differences
df = df.sort_values(['PCARD_NO', 'RIDE_DATETIME'])
df['NEXT_RIDE_TIME'] = df.groupby('PCARD_NO')['RIDE_DATETIME'].shift(-1)
df['TIME_DIFF'] = (df['NEXT_RIDE_TIME'] - df['ALIGHT_DATETIME']).dt.total_seconds() / 60
df['NEW_TRIP'] = (df['TIME_DIFF'] > 30).astype(int)
df['TRIP_ID'] = df.groupby('PCARD_NO')['NEW_TRIP'].cumsum()

In [23]:
df_1=data_date_time(df_11_1)
df_1=data_time(df_11_1)

TypeError: unsupported operand type(s) for +: 'DatetimeArray' and 'str'

In [27]:
print(df_1)

                PCARD_NO      RIDE_DTIME  TRANS_ID  TRANSP_METHOD_CD  \
374596  000E0E0E96E3BFC3  20131215151434       175               200
374597  000E0E0E96E3BFC3  20131215155940       176               200
374598  000E0E0E96E3BFC3  20131215182458       177               200
374599  000E0E0E96E3BFC3  20131215194613        21               105

        TRAF_FREQ  BUS_ROUTE_ID  RIDE_TRANSP_BIZR_ID      VEHC_ID  \
374596          0           NaN            211000000          NaN
374597          0           NaN            211000000          NaN
374598          0           NaN            211200000          NaN
374599          0    11110084.0            111520030  111755108.0

        PCARD_USER_CLASS_CD  RIDE_STA_ID  ... FARE_USER_CLASS_CD3  PASGR_NUM1  \
374596                    6          311  ...                 NaN           1
374597                    6          153  ...                 NaN           1
374598                    6         2535  ...                 NaN           1
374599                    6      9012125  ...                 NaN           1

        PASGR_NUM2  PASGR_NUM3  USE_DIST  USE_TIME  ALIGHT_DATE  ALIGHT_TIME  \
374596           0           0    9700.0    1518.0   2013-12-15     15:39:52
374597           0           0     900.0     197.0   2013-12-15     16:02:57
374598           0           0    9700.0    2435.0   2013-12-15     19:05:33
374599           0           0    1058.0     524.0   2013-12-15     19:54:57

        RIDE_DATE  RIDE_TIME
374596 2013-12-15   15:14:34
374597 2013-12-15   15:59:40
374598 2013-12-15   18:24:58
374599 2013-12-15   19:46:13

[4 rows x 28 columns]

In [28]:
df_1=tripid(df_1)
print(df_1)

C:\Users\suman\AppData\Local\Temp\ipykernel_21748\416533948.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['ALIGHT_DATETIME'] =pd.to_datetime(df['ALIGHT_DTIME'])

OutOfBoundsDatetime: Parsing "20131215153952.0" to datetime overflows, at position 0